<h3 *ngIf="aviso">{{ aviso }}</h3>

<h1>Contas a pagar</h1>
<div *ngIf="pagamentos">
  <div *ngFor="let item of pagamentos">
    <div>Nome: {{ item.nome }}</div>
    <div>Valor: {{ item.valor }}</div>
    <div>
      <button type="btn btn-info" (click)="editar(item.id)">Editar</button>
      <button type="btn btn-danger" (click)="deletar(item.id)">Deletar</button>
      <div *ngIf="edit && edit == item.id">
        <form #form="ngForm" autocomplete="off" (submit)="onEditSubmit(form)">
          <div class="form-group">
            <input
              name="nome"
              #nome="ngModel"
              [(ngModel)]="pagam.nome"
              class="form-control"
              placeholder="Nome"
              required
            />
            <div
              *ngIf="nome.invalid && nome.touched"
              class="validation-error"
            ></div>
          </div>
          <div class="form-group">
            <input
              name="valor"
              #telefone="ngModel"
              [(ngModel)]="pagam.valor"
              class="form-control"
              placeholder="Valor"
              type="number"
              required
            />
          </div>
          <div class="form-group">
            <button
              type="submit"
              [disabled]="form.invalid"
              class="btn btn-lg btn-block btn-info"
            >
              Atualizar
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div>Valor total: {{ valorTotal }}</div>
</div>

<div *ngIf="!pagamentos">
  <h1>Nenhum pagamento cadastrado</h1>
</div>
<br /><br /><br />
<form #form="ngForm" autocomplete="off" (submit)="onSubmit(form)" *ngIf="!edit">
  <div class="form-group">
    <input
      name="nome"
      #nome="ngModel"
      [(ngModel)]="pagam.nome"
      class="form-control"
      placeholder="Nome"
      required
    />
    <div *ngIf="nome.invalid && nome.touched" class="validation-error"></div>
  </div>
  <div class="form-group">
    <input
      name="valor"
      #telefone="ngModel"
      [(ngModel)]="pagam.valor"
      class="form-control"
      placeholder="Valor"
      type="number"
      required
    />
  </div>
  <div class="form-group">
    <button
      type="submit"
      [disabled]="form.invalid"
      class="btn btn-lg btn-block btn-info"
    >
      Cadastrar novo pagamento
    </button>
  </div>
</form>
<br /><br />
<a href="/recebimentos">Página de recebimentos</a>
